%section.section.section-page
    %div.content.content-tight
        %div.section-header.section-header-center
            %h1.text.text-xxxl Drive your business forward
            %p.text.text-m.text-secondary With instant booking, free quick pay, facility ratings, and upfront, no-haggle pricing, Dagglo Carrier puts you in the driver’s seat. Submit the registration form to start hauling today.
        %div.section-body
            = form_for(@carrier, :html => {class: "form"}) do |f|
                %div.form-row
                    %div.form-label
                        = f.label :first_name, "First name"
                    %div.form-input
                        = f.text_field :first_name, autocomplete: "first_name", class: "form-control"
                %div.form-row
                    %div.form-label
                        = f.label :last_name, "Last name"
                    %div.form-input
                        = f.text_field :last_name, autocomplete: "last_name", class: "form-control"
                %div.form-row
                    %div.form-label
                        = f.label :business_name, "Company name"
                    %div.form-input
                        = f.text_field :business_name, autocomplete: "off", class: "form-control"
                %div.form-row
                    %div.form-label
                        = f.label :business_email, "Business email"
                    %div.form-input
                        = f.email_field :business_email, autocomplete: "email", class: "form-control"
                %div.form-row
                    %div.form-label
                        = f.label :phone, "Phone number"
                    %div.form-input
                        = f.phone_field :phone, class: "form-control", autocompelte: "phone"
                %div.form-row
                    %div.form-label
                        = f.label :comment, "Comment"
                    %div.form-input
                        = f.text_area :comment, class: "form-control form-control-textarea", autocompelte: "off"
                %div.form-submit.text-center
                    = f.submit "Submit", class: "button button-action button-primary button-responsive"