%footer(id="primaryFooter" class="footer")
  %div(class="footer-container")
    %div(class="footer-block")
      %ul(class="footer-list")
        %li(class="footer-list-item")
          = link_to "Sell on Dagglo", partner_path, class: "footer-link"
        %li(class="footer-list-item")
          = mail_to "help@dagglo.com", "Contact us", class: "footer-link"
        %li(class="footer-list-item")
          = link_to "Terms of Service", terms_path, class: "footer-link"
        %li(class="footer-list-item")
          = link_to "Privacy Policy", privacy_path, class: "footer-link"
    %div(class="footer-block")
      %p(class="text text-xs text-secondary-light") © #{Time.current.year} Dagglo Inc
