%link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
%link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
%link{:href => "/favicon-194x194.png", :rel => "icon", :sizes => "194x194", :type => "image/png"}/
%link{:href => "/android-chrome-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
%link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
%link{:href => "/site.webmanifest", :rel => "manifest"}/
%link{:color => "#000000", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}/
%meta{:content => "Dagglo", :name => "apple-mobile-web-app-title"}/
%meta{:content => "Dagglo", :name => "application-name"}/
%meta{:content => "#000000", :name => "msapplication-TileColor"}/
%meta{:content => "/mstile-144x144.png", :name => "msapplication-TileImage"}/
%meta{:content => "#ffffff", :name => "theme-color"}/
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "utf-8"}/
%meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
%meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
%meta{:name => "HandheldFriendly", :contnet => "true"}
%meta{:name => "MobileOptimized", :content => "176"}

%meta{:content => "noindex", :name => "robots"}/

%title #{content_for?(:title) ? "#{yield(:title)} | #{current_user.s_account.name}" : "#{current_user.s_account.name}"}
= csrf_meta_tags
= csp_meta_tag

-# FontAwesome package
%script{:crossorigin => "anonymous", :integrity => "sha384-NZ61boOcl3WY4W94TxWmzNrE/dZbP7g9IY8FECz/RXQXC1XKSv357JckOVRE8GM8", :src => "https://kit.fontawesome.com/ca37ffc099.js"}
%script(src="https://js.stripe.com/v3/")
-# %script{:async => "", "data-turbolinks-eval" => "false", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:maps_api_key]}&libraries=places&callback=initMap"}
= tag.meta name: "stripe-key", content: Rails.application.credentials.stripe[:public_key]
= stylesheet_link_tag 'seller', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_pack_tag 'seller', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'seller', 'data-turbolinks-track': 'reload'

-# Google Analytics -> Only production
= analytics_init if GoogleAnalytics.valid_tracker? && Rails.env.production?