= content_for :title, "Plan and permissions"


%div(class="page")

  %div(class="page-top")
    %div(class="content")
      %div(class="page-top-title")
        %h1(class="text text-xl text-medium") #{yield(:title)}

  
  %div(class="page-body") 
    %div(class="content")
  
      %div(class="page-block")
        %div(class="page-annotated")
          %div(class="page-annotated-card")
            %div(class="page-header")
              %div(class="page-header-title")
                %p(class="text text-m text-medium space-bot-xs") Plan details:
                %p(class="text text-s text-secondary") View our #{link_to "terms of service", terms_path, target: :_blank, class: "link"} and #{link_to "privacy policy", privacy_path, target: :_blank, class: "link"}.
            %div(class="page-body")
              %div(class="card")
                %div(class="grid-2-4")
                  %div(class="col")
                    %div(class="card-container")
                      %p(class="text text-s text-secondary space-bot-xxs") Member since:
                      %p(class="text text-m text-medium") #{@seller.member_since}
                  %div(class="col")
                    %div(class="card-container")
                      %p(class="text text-s text-secondary space-bot-xxs") Current plan:
                      - if @subscription.present? 
                        %p(class="text text-m text-medium") #{@subscription.stripe_plan}
                      - else
                        %p(class="text text-m text-medium") ---
                  %div(class="col")
                    %div(class="card-container")
                      %p(class="text text-s text-secondary space-bot-xxs") Subscription:
                      - if @subscription.present?
                        %p(class="text text-m text-medium") #{@subscription.status.humanize}
                      - else
                        %p(class="text text-m text-medium") ---
                  %div(class="col")
                    %div(class="card-container")
                      %p(class="text text-s text-secondary space-bot-xxs") Account:
                      %p(class="text text-m text-medium") #{@seller.status.capitalize}
                - if current_user.seller.present? && !@seller.subscribed?
                  %div(class="card-footer")
                    %div(class="card-footer-actions")
                      %div(class="card-footer-actions-item") #{link_to "Subscribe now", seller_pricing_path, class: "button button-accent button-responsive"}



      -# %div(class="page-block")
      -#   %div(class="page-annotated")
      -#     %div(class="page-annotated-annotation")
      -#       %p(class="text text-m text-medium space-bot-xs") Connected accounts:
      -#       %p(class="text text-s text-secondary") Manage what staff can see or do in your store.
      -#       - if current_user.seller.present?
      -#         %p(class="text text-m text-medium text-secondary space-top-xs") 
      -#           = link_to new_seller_account_path, class: "link" do
      -#             %span #{icon "far", "user-plus"}
      -#             %span Add more users
          
      -#     %div(class="page-annotated-content")
      -#       %ul(class="list")
      -#         - @seller_accounts.each do |member|
      -#           %li
      -#             = link_to seller_account_path(member), class: "list-container" do
      -#               %div(class="list-picture list-picture-circle") 
      -#                 = image_tag member.user.avatar(150, 150), 'data-src': member.user.avatar(150, 150), loading: "lazy", class: "lazy"
      -#               %div(class="list-main")
      -#                 %p(class="text text-m text-medium") #{member.user.full_name}
      -#                 - if member.role.present?
      -#                   %p(class="text text-s text-secondary") #{member.role.capitalize}


      -# - if current_user.seller.present?
      -#   %div(class="page-block")
      -#     %div(class="page-annotated")
      -#       %div(class="page-annotated-card")
      -#         %div(class="page-header")
      -#           %div(class="page-header-title")
      -#             %p(class="text text-m text-medium space-bot-xs") Seller account managment:
      -#         %div(class="page-body")
      -#           %div(class="card")
      -#             %div(class="grid-1-2")
      -#               %div(class="col")
      -#                 %div(class="card-container text-center")
      -#                   - if @seller.pause
      -#                     %h1(class="text text-xxxl space-bot-l") #{icon "fal", "lock-open"}
      -#                     %p(class="text text-l space-bot-xxxs") Make account public
      -#                     %p(class="text text-s text-secondary space-bot-l") Go public and increase the amount of customers. Your seller profile will be visible to all users and search engines.
      -#                     = button_to "Go public", seller_public_path(@seller), class: "button"
      -#                   - else
      -#                     %h1(class="text text-xxxl space-bot-l") #{icon "fal", "lock"}
      -#                     %p(class="text text-l space-bot-xxxs") Make account private
      -#                     %p(class="text text-s text-secondary space-bot-l") Your account will be invisible to all users and search engines. However, you can still take direct orders from your customers.
      -#                     = button_to "Go private", seller_private_path(@seller), class: "button"
      -#               %div(class="col")
      -#                 %div(class="card-container text-center")
      -#                   %h1(class="text text-xxxl space-bot-l") #{icon "fal", "times-circle"}
      -#                   %p(class="text text-l space-bot-xxxs") Close your account
      -#                   %p(class="text text-s text-secondary space-bot-l") Turn off your online sales. All related to #{@seller.name} information will be forever removed from Dagglo.
      -#                   = link_to "Close account", seller_path, method: :delete, class: "button"





-#           %div(class="body")

-#             - if @seller_subscription && @seller_subscription.on_trial?
-#               %div(class="card")
-#                 %div(class="card-header")
-#                   %div(class="card-header-main")
-#                     %h1(class="text text-m text-medium") #{@seller_subscription.stripe_plan} trial period
-#                 %div(class="card-body")
-#                   %p(class="text text-s") #{current_user.first_name}, you have #{pluralize((@seller_subscription.trial_ends_at.to_date - Time.now.to_date).to_i, 'day')} left of your trial. The first payment will be on #{@seller_subscription.trial_ends_at.to_date.to_s(:long)}.
-#                 %div(class="card-footer")
-#                   %div(class="card-footer-actions")
-#                     %div(class="card-footer-action") #{link_to "Change plan", edit_seller_subscription_path, class: "button"}

-#             - elsif @seller_subscription && @seller_subscription.on_grace_period?
-#               %div(class="card")
-#                 %div(class="card-header")
-#                   %div(class="card-header-main")
-#                     %h1(class="text text-m text-medium") Subscription canceled
-#                 %div(class="card-body")
-#                   %p(class="text text-s") Your subscription has been canceled. The access will remain until #{@seller_subscription.ends_at.to_date.to_s(:long)}.
-#                 %div(class="card-footer")
-#                   %div(class="card-footer-actions")
-#                     %div(class="card-footer-action") #{link_to "Resume subscription", resume_seller_subscription_path, method: :patch, class: "button"}

-#             - elsif @subscription && @subscription.active? && current_user.seller
-#               %div(class="card")
-#                 %div(class="card-header")
-#                   %div(class="card-header-main")
-#                     %h1(class="text text-m text-medium") Active subscription
-#                 %div(class="card-body")
-#                   %p(class="text text-s") You are subscribed to the #{@subscription.stripe_plan} plan.
-#                 %div(class="card-footer")
-#                   %div(class="card-footer-actions")
-#                     %div(class="card-footer-actions-item") #{link_to "Change plan", edit_seller_subscription_path, class: "button"}
-#                     %div(class="card-footer-actions-item") #{link_to "Cancel", seller_subscription_path, method: :delete, class: "link link-secondary", data: { confirm: "Are you sure you want to cancel?" }}

-#             -#   - else
-#             -#     %p.text.text-s You are not subscribed. #{link_to "Subscribe", seller_pricing_path, class: "link"}
