= content_for :title, "Announcements"

%div(class="container")

  %div(class="header")
    %div(class="content")
      %div(class="header-container")
        %div(class="header-title")
          %h1(class="text text-xxl text-medium") What's New

  %section(class="section")
    %div(class="content")
      %div(class="body")
        %ul(class="list")
          - @announcements.each do |a|
            %li(class="list-item")
              = button_tag class: "list-container list-container-center list-container-expand" do
                %div(class="list-date")
                  %p(class="text text-s text-secondary") #{a.created_at.strftime("%b %d")}
                %div(class="list-main")
                  %h1(class="text text-s text-medium") #{a.name}
              %div(class="list-expand-content")
                %p(class="text text-s") #{a.content.html_safe}
