-# announcements

%div(class="container")


  %div(class="header")
    %div(class="content")
      %div(class="header-container")
        %div(class="header-title")
          %h1(class="text text-xxxl") 
            #{current_user.hello}, 
            %br/
            #{current_user.first_name}
          -# %p(class="text text-s text-secondary") Timezone: #{Time.now}
        %div(class="header-actions")
          %div(class="header-actions-item")
            = mail_to "help@dagglo.com", class: "button-circle button-circle-action" do
              %div(class="button-circle-icon") #{icon "fal", "envelope"}
              %div(class="button-circle-name") Help


  - if @seller.should_see_onboarding?
    = render partial: "sellers/dashboard/onboarding"

  - unless current_user.confirmed_at.present? && @seller.business_number
    = render partial: "sellers/dashboard/summary"

  - if @activities.present?
    = render partial: "sellers/dashboard/activities"

  - if @announcements.present?
    = render partial: "sellers/dashboard/announcements"
