= content_for :title, "General"


%div(class="page")

  %div(class="page-top")
    %div(class="content")
      %div(class="page-top-title")
        %h1(class="text text-xl text-medium") #{yield(:title)}

  
  = form_for @seller, html: {class: "form"} do |f|
    %div(class="page-body")
      %div(class="content")

        %div(class="page-block")
          %div(class="page-annotated")
            %div(class="page-annotated-card")
              %div(class="settings-profile")
                %div(class="settings-profile-cover")
                  = image_tag @seller.background(500, 500), 'data-src': @seller.background(500, 500), loading: "lazy", class: "lazy img-thumbnail file-upload-preview", id: "seller-cover"
                %div(class="settings-profile-main")
                  %div(class="settings-profile-logo")
                    = image_tag @seller.logo(200, 200), 'data-src': @seller.logo(200, 200), loading: "lazy", class: "lazy img-thumbnail file-upload-preview", id: "seller-image"
                  %div(class="settings-profile-name")
                    %p(class="text text-l text-medium") #{@seller.name}

        %div(class="page-block")
          %div(class="page-annotated")
            %div(class="page-annotated-annotation")
              %p(class="text text-m text-medium") Store details:
              %p(class="text text-s text-secondary") Dagglo and your customers will use this information to learn more about you and your company.
            %div(class="page-annotated-content")
              %div(class="form-container")
                %div(class="form-row")
                  %div(class="form-grid")
                    %div(class="form-col")
                      %div(class="form-row-label")
                        = f.label :image, "Logo"
                      %div(class="form-row-input")
                        = f.file_field :image, accept: ImageUploader::ALLOWED_TYPES.join(","), data: {upload_server: upload_server, preview_element: "seller-image", upload_result_element: "seller-image-upload-result"}
                        = f.hidden_field :image, value: @seller.cached_image_data, id: "seller-image-upload-result" 
                    %div(class="form-col")
                      %div(class="form-row-label")
                        = f.label :cover, "Cover image"
                      %div(class="form-row-input")
                        = f.file_field :cover, accept: ImageUploader::ALLOWED_TYPES.join(","), data: {upload_server: upload_server, preview_element: "seller-cover", upload_result_element: "seller-cover-upload-result"}
                        = f.hidden_field :cover, value: @seller.cached_cover_data, id: "seller-cover-upload-result"
                
                %div(class="form-row")
                  %div(class="form-row-label")
                    = f.label :business_number, "Business number"
                  %div(class="form-row-input")
                    - if @seller.business_number.present?
                      %p(class="text text-m text-medium") #{@seller.business_number}
                    - else
                      = f.text_field :business_number, class: "form-control", autofocus: false, autocomplete: "off"
                
                %div(class="form-row")
                  %div(class="form-row-label")
                    = f.label :name, "Legal business name"
                  %div(class="form-row-input")
                    = f.text_field :name, class: "form-control", autofocus: false, autocomplete: "off"

                %div(class="form-row")
                  %div(class="form-row-label")
                    = f.label :founding_date, "Founding date"
                  %div(class="form-row-input form-row-input-select")
                    = f.date_select :founding_date, {:order => [:day, :month, :year], :start_year => 1958, :end_year => Time.current.year, :prompt => { :day => 'Day:', :month => 'Month:', :year => 'Year:' }}, {:class => "form-control"}

                %div(class="form-row")
                  %div(class="form-row-label")
                    = f.label :country, "Country"
                  %div(class="form-row-input")
                    = f.country_select("country", {:include_blank => "Choose country"}, {class: "js-states form-control", id: "selectCountry"}, required: true, autofocus: false)
                
                %div(class="form-row")
                  %div(class="form-row-label")
                    = f.label :description, "About"
                  %div(class="form-row-input")
                    = f.text_area :description, class: "form-control form-control-textarea", autofocus: false, autocomplete: "off"

              %div(class="form-submit")
                = button_tag "Save", class: "button button-primary button-action button-responsive", data: {disable_with: "<i class='far fa-spinner fa-spin'></i>"}