= content_for :title, "Locations"


%div(class="container")

  %div(class="header")
    %div(class="content")
      %div(class="header-container")
        %div(class="header-title")
          %h1(class="text text-xxl text-medium") Locations
        %div(class="header-actions")
          %div(class="header-actions-item")
            = link_to new_location_path, class: "button-circle button-circle-action" do
              %div(class="button-circle-icon") #{icon "fal", "plus"}
              %div(class="button-circle-name") Add new

          -# %div(class="header-actions-item")
          -#   = link_to :back, class: "button-circle" do
          -#     %div(class="button-circle-icon") #{icon "fal", "long-arrow-left"}
          -#     %div(class="button-circle-name") Back



  %section(class="section")
    %div(class="content")
      %div(class="body")
        - if @seller_locations.present?
          %div(class="grid-1-2")
            - @seller_locations.each do |sl|
              %div(class="col")
                %div(class="card")
                  %div(class="card-header")
                    %div(class="card-header-main")
                      %h1(class="text text-m text-medium") #{sl.name}
                    %div(class="card-header-profile")
                      = link_to location_path(sl), class: "card-header-profile-link" do
                        %div(class="card-header-profile-photo")
                          = image_tag sl.map_photo, loading: "lazy"
                  %div(class="card-body")
                    %p(class="text text-s text-secondary") #{sl.address}
                  %div(class="card-footer")
                    %div(class="card-footer-actions")
                      %div(class="card-footer-action") #{link_to "View", location_path(sl), class: "link"}
                      %div(class="card-footer-action") #{link_to "Edit", edit_location_path(sl), class: "link"}


        - else
          %div(class="banner")
            %div(class="banner-icon")
              = icon "fal", "globe-americas"
            %div(class="banner-message")
              %h1(class="text text-xl") No locations yet
            %div(class="banner-action")
              = link_to "Add location", new_location_path, class: "link"
