= content_for :title, "Products"

%div(class="container")

  %div(class="header")
    %div(class="content")
      %div(class="header-container")
        %div(class="header-title")
          %h1(class="text text-xxl text-medium") Products
        %div(class="header-actions")
          %div(class="header-actions-item")
            = link_to new_product_path, class: "button-circle button-circle-action" do
              %div(class="button-circle-icon") #{icon "fal", "plus"}
              %div(class="button-circle-name") Add new

          -# %div(class="header-actions-item")
          -#   = link_to :back, class: "button-circle" do
          -#     %div(class="button-circle-icon") #{icon "fal", "long-arrow-left"}
          -#     %div(class="button-circle-name") Back


  %section(class="section")
    %div(class="content")
      %div(class="body")
        - if @seller_products.present?
          %table(class="table")
            %thead
              %tr
                %th{:scope => "col", class: "table-photo"}
                %th{:scope => "col", class: "table-name"} Name
                %th{:scope => "col", class: "table-status"} Status
                %th{:scope => "col", class: "table-graph"} Graph
                %th{:scope => "col", class: "table-action"} Action
            %tbody
              - @seller_products.each do |item|
                %tr
                  %td{class: "table-photo"} #{image_tag item.product.photo(300, 300), class: "table-photo-item", loading: "lazy"}
                  %td{"data-label" => "Name", class: "table-name"}
                    %h1(class="text text-s text-medium") #{item.product.name}
                  %td{"data-label" => "Status", class: "table-status"}
                    %div(class="status status-#{item.product.get_status}") #{item.product.get_status}
                  %td{"data-label" => "Graph", class: "table-graph"}
                    %p(class="text text-xs text-secondary") No data
                  %td{class: "table-action"} 
                    %div(class="table-actions")
                      %div(class="table-actions-item") 
                        = link_to "View", inventory_path(item), class: "button button-responsive"
                      %div(class="table-actions-item") 
                        = link_to "Edit", edit_inventory_path(item), class: "button button-responsive"
        
        - else
          %div(class="banner")
            %div(class="banner-icon")
              = icon "fal", "box-alt"
            %div(class="banner-message")
              %h1(class="text text-xl") No products yet
            %div(class="banner-action")
              = link_to "Add product", new_product_path, class: "link"
