%div(class="container")

  %div(class="header")
    %div(class="content")
      %div(class="header-container")
        %div(class="header-title")
          %h1(class="text text-xxl text-medium") Settings
        %div(class="header-actions")
          -# %div(class="header-actions-item")
          -#   = link_to :back, class: "button-circle" do
          -#     %div(class="button-circle-icon") #{icon "fal", "long-arrow-left"}
          -#     %div(class="button-circle-name") Back


  %section(class="section")
    %div(class="content")

      %div(class="grid-settings")

        %div(class="col-settings")
          %div(class="setting")
            = link_to settings_general_seller_path, class: "setting-container" do
              %div(class="setting-left")
                %div(class="setting-icon") #{icon "fal", "home"}
              %div(class="setting-right")
                %div(class="setting-name")
                  %h1(class="text text-m text-medium") General
                %div(class="setting-desc")
                  %p(class="text text-s text-secondary") View and update your store details.

        %div(class="col-settings")
          %div(class="setting")
            = link_to settings_account_seller_path, class: "setting-container" do
              %div(class="setting-left")
                %div(class="setting-icon") #{icon "fal", "user"}
              %div(class="setting-right")
                %div(class="setting-name")
                  %h1(class="text text-m text-medium") Plan and permissions
                %div(class="setting-desc")
                  %p(class="text text-s text-secondary") View plan information and manage what staff can see or do in your store.

        %div(class="col-settings")
          %div(class="setting")
            = link_to settings_billing_seller_path, class: "setting-container", id: "disabledLink" do
              %div(class="setting-left")
                %div(class="setting-icon") #{icon "fal", "dollar-sign"}
              %div(class="setting-right")
                %div(class="setting-name")
                  %h1(class="text text-m text-medium") Billing
                %div(class="setting-desc")
                  %p(class="text text-s text-secondary") Manage your billing information and view your invoices

        %div(class="col-settings")
          %div(class="setting")
            = link_to "", class: "setting-container", id: "disabledLink" do
              %div(class="setting-left")
                %div(class="setting-icon") #{icon "fal", "truck"}
              %div(class="setting-right")
                %div(class="setting-name")
                  %h1(class="text text-m text-medium") Shipping
                %div(class="setting-desc")
                  %p(class="text text-s text-secondary") Manage how you ship orders to customers.

        %div(class="col-settings")
          %div(class="setting")
            = link_to "", class: "setting-container", id: "disabledLink" do
              %div(class="setting-left")
                %div(class="setting-icon") #{icon "fal", "question"}
              %div(class="setting-right")
                %div(class="setting-name")
                  %h1(class="text text-m text-medium") FAQs
                %div(class="setting-desc")
                  %p(class="text text-s text-secondary") Manage frequently asked questions.
