= content_for :title, "Settings"


%div(class="page")

  %div(class="page-top")
    %div(class="content")
      %div(class="page-top-container")
        %div(class="page-top-title")
          %h1(class="text text-xl text-medium") Settings



  %div(class="page-body")
    %div(class="content-responsive")
      %div(class="card card-responsive")
        %div(class="card-body")

          %div(class="settings-grid")
            %div(class="settings-col")
              = link_to settings_general_seller_path, class: "settings" do
                %div(class="settings-icon")
                  = icon "fal", "cog"
                %div(class="settings-main")
                  %div(class="settings-main-title")
                    %p(class="text text-m text-medium") General
                  %div(class="settings-main-caption")
                    %p(class="text text-s text-secondary") View and update your store details.
            %div(class="settings-col")
              = link_to settings_account_seller_path, class: "settings" do
                %div(class="settings-icon")
                  = icon "fal", "user"
                %div(class="settings-main")
                  %div(class="settings-main-title")
                    %p(class="text text-m text-medium") Plan and permissions
                  %div(class="settings-main-caption")
                    %p(class="text text-s text-secondary") View plan information and manage what staff can see or do in your store.
            %div(class="settings-col")
              = link_to settings_billing_seller_path, class: "settings" do
                %div(class="settings-icon")
                  = icon "fal", "dollar-sign"
                %div(class="settings-main")
                  %div(class="settings-main-title")
                    %p(class="text text-m text-medium") Billing
                  %div(class="settings-main-caption")
                    %p(class="text text-s text-secondary") Manage your billing information and view your invoices.
            %div(class="settings-col")
              = link_to seller_locations_path, class: "settings" do
                %div(class="settings-icon")
                  = icon "fal", "map-marker-alt"
                %div(class="settings-main")
                  %div(class="settings-main-title")
                    %p(class="text text-m text-medium") Locations
                  %div(class="settings-main-caption")
                    %p(class="text text-s text-secondary") Manage the places you stock inventory, fulfill orders, and sell products.




-#         %div(class="col-settings")
-#           %div(class="setting")
-#             = link_to "", class: "setting-container", id: "disabledLink" do
-#               %div(class="setting-left")
-#                 %div(class="setting-icon") #{icon "fal", "truck"}
-#               %div(class="setting-right")
-#                 %div(class="setting-name")
-#                   %h1(class="text text-m text-medium") Shipping
-#                 %div(class="setting-desc")
-#                   %p(class="text text-s text-secondary") Manage how you ship orders to customers.

-#         %div(class="col-settings")
-#           %div(class="setting")
-#             = link_to "", class: "setting-container", id: "disabledLink" do
-#               %div(class="setting-left")
-#                 %div(class="setting-icon") #{icon "fal", "question"}
-#               %div(class="setting-right")
-#                 %div(class="setting-name")
-#                   %h1(class="text text-m text-medium") FAQs
-#                 %div(class="setting-desc")
-#                   %p(class="text text-s text-secondary") Manage frequently asked questions.
