= content_for :title, "#{@seller_account.user.full_name}"

%div(class="container")

  %div(class="header")
    %div(class="content")
      %div(class="header-container")
        %div(class="header-picture")
          = image_tag @seller_account.user.avatar(300, 300), loading: "lazy"
        %div(class="header-title")
          %h1(class="text text-xxl text-medium") #{@seller_account.user.full_name}
          - if @seller_account.role?
            %p(class="text text-m text-secondary") #{@seller_account.role.capitalize}


  - if @activities.present?
    %section(class="section")
      %div(class="content")
        %div(class="header-section")
          %div(class="header-section-title")
            %h1(class="text text-m text-medium") Recent activity
          %div(class="header-section-actions")
            %div(class="header-section-actions-item") #{link_to "View all", activities_seller_path, class: "link"}

        %div(class="body")
          %ul(class="activities")
            = render_activities(@activities)
