= content_for :title, @seller_product.product.name

%div(class="page")

	%div(class="page-top")
		%div(class="content-tight")
			%div(class="page-top-container")
				%div(class="page-top-product")
					= image_tag @seller_product.product.photo(200, 200), 'data-src': @seller_product.product.photo(200, 200), loading: "lazy", class: "lazy"
				%div(class="page-top-main")
					%div(class="page-top-main-title")
						%h1(class="text text-xl text-medium") #{@seller_product.product.name}
				%div(class="page-top-actions")
					%div(class="page-top-actions-item") 
						= link_to seller_product_path(@seller_product), method: :delete, class: "button-circle button-circle-destroy", data: { confirm: 'Are you sure?' } do
							%span(class="button-circle-icon") #{icon "fal", "trash-alt"}
							%span(class="button-circle-name") Delete
					%div(class="page-top-actions-item") 
						= link_to seller_product_path(@seller_product), class: "button-circle button-circle-action" do
							%span(class="button-circle-icon") #{icon "fal", "eye"}
							%span(class="button-circle-name") View


	= form_for @seller_product, method: :patch, :html => { class: "form", :multipart => true } do |f|
		%div(class="page-body")
			%div(class="content-tight")
				= render "sellers/shared/errors", target: @seller_product

				%div(class="form-container")
					%div(class="form-header")
						%div(class="form-header-title")
							%p(class="text text-m text-medium") Pricing:
						%div(class="form-header-caption")
							%p(class="text text-s text-secondary") In american dollars (USD).
					%div(class="form-row")
						%div(class="form-grid")
							%div(class="form-col")
								%div(class="form-row-label")
									= f.label :unit_price_cents, "Unit price"
								%div(class="form-row-input")
									= f.text_field :unit_price_cents, autocomplete: "off", class: "form-control form-control-money"
									%span(class="form-control-money-currency") $
							%div(class="form-col")
								%div(class="form-row-label")
									= f.label :order_price_cents, "Minimum order price"
								%div(class="form-row-input")
									= f.text_field :order_price_cents, autocomplete: "off", class: "form-control form-control-money"
									%span(class="form-control-money-currency") $


				%div(class="form-container")
					%div(class="form-header")
						%div(class="form-header-title")
							%p(class="text text-m text-medium") Sale
					%div(class="form-row")
						%div(class="form-row-label")
							= f.label :sale_price_cents, "Sale Price"
						%div(class="form-row-input")
							= f.text_field :sale_price_cents, autocomplete: "off", class: "form-control form-control-money"
							%span(class="form-control-money-currency") $
					%div(class="form-row")
						%div(class="form-grid")
							%div(class="form-col")
								%div(class="form-row-label")
									= f.label :sale_start, "Sale Start Date"
								%div(class="form-row-input")
									= f.date_field :sale_start, autocomplete: "off", class: "form-control", min: "#{Time.now}"
							%div(class="form-col")
								%div(class="form-row-label")
									= f.label :sale_end, "Sale End Date"
								%div(class="form-row-input")
									= f.date_field :sale_end, autocomplete: "off", class: "form-control", min: "#{Time.now}"


				%div(class="form-container")
					%div(class="form-header")
						%div(class="form-header-title")
							%p(class="text text-m text-medium") Inventory:
					%div(class="form-row")
						%div(class="form-row-label")
							= f.label :sku, "SKU (stock keeping unit)"
						%div(class="form-row-input")
							= f.text_field :sku, autocomplete: "off", class: "form-control"
					%div(class="form-row")
						%div(class="form-row-label")
							= f.label :supply_ability, "Supply ability"
						%div(class="form-row-input")
							= f.text_field :supply_ability, autocomplete: "off", class: "form-control"
					
					
				-# %div(class="form-container")
				-# 	%div(class="form-header")
				-# 		%div(class="form-header-title")
				-# 			%p(class="text text-m text-medium") Shipping:
				-# 	%div(class="form-row")
				-# 		%div(class="form-row-label")
				-# 			= f.label :weight, "Unit weight"
				-# 		%div(class="form-row-input")
				-# 			= f.text_field :weight, autocomplete: "off", class: "form-control"
				-# 		%div(class="form-row-caption")
				-# 			%p(class="text text-xs text-secondary") Used to calculate shipping rates at checkout and label prices during fulfillment.
				-# 	%div(class="form-row")
				-# 		%div(class="form-row-label")
				-# 			= f.label :harmonized_system_code, "HS (Harmonized System) code"
				-# 		%div(class="form-row-input")
				-# 			= f.text_field :harmonized_system_code, autocomplete: "off", class: "form-control"
				-# 		%div(class="form-row-caption")
				-# 			%p(class="text text-xs text-secondary") Used by border officers to classify this product.
				-# 	%div(class="form-row")
				-# 		%div(class="form-row-label")
				-# 			= f.label :packaging, "Packaging"
				-# 		%div(class="form-row-input")
				-# 			= f.text_field :packaging, autocomplete: "off", class: "form-control"
				-# 		%div(class="form-row-caption")
				-# 			%p(class="text text-xs text-secondary") Used by delivery companies provided by Dagglo. Also will be displayed on product pages as an additional information for your customers.
				-# 	%div(class="form-row")
				-# 		%div(class="form-row-label")
				-# 			= f.label :packaging_details, "Packaging details"
				-# 		%div(class="form-row-input")
				-# 			= f.text_area :packaging_details, autocomplete: "off", class: "form-control form-control-textarea"
				
				%div(class="form-submit")
					= button_tag "Save", class: "button button-primary button-action button-responsive", data: {disable_with: "<i class='far fa-spinner fa-spin'></i>"}





-#     %div(class="actions")
-#       %div(class="content")
-#         %div(class="actions-container")
-#           %div(class="actions-item")
-#             = button_tag "Save inventory", class: "button button-action button-responsive", data: {disable_with: "<i class='far fa-spinner fa-spin'></i> Updating..."}