= content_for :title, "Products"

%div(class="page")

  - if @seller_products.present?
    %div(class="page-top")
      %div(class="content")
        %div(class="page-top-container")
          %div(class="page-top-main")
            %div(class="page-top-main-title")
              %h1(class="text text-xl text-medium") #{yield(:title)}
          %div(class="page-top-actions")
            %div(class="page-top-actions-item")
              = link_to new_product_barcode_path, class: "button button-contrast" do
                %span #{icon "fal", "plus"}
                %span Add new


    %div(class="product-block")
      %div(class="content-responsive")
        %table(class="ProductTable")
          %thead(class="ProductTable-head")
            %tr(class="ProductTable-row")
              %th(class="ProductTable-th ProductTable-th-photo") 
                %p(class="text text-xs text-secondary") Photo
              %th(class="ProductTable-th ProductTable-th-name")
                %p(class="text text-xs text-secondary") Name
              %th(class="ProductTable-th ProductTable-th-price") 
                %p(class="text text-xs text-secondary") Price
              %th(class="ProductTable-th ProductTable-th-order") 
                %p(class="text text-xs text-secondary") Order price
              %th(class="ProductTable-th ProductTable-th-action") 
                %p(class="text text-xs text-secondary") View
        
          %tbody(class="ProductTable-body")
            - @seller_products.includes([:product]).each do |item|
              %tr(class="ProductTable-row ProductTable-row-link" onclick="window.location='#{seller_product_path(item)}';")
                %td(class="ProductTable-td ProductTable-td-photo")
                  %div(class="ProductTable-photo-container")
                    = image_tag item.product.photo(200, 200), 'data-src': item.product.photo(200, 200), loading: "lazy", class: "lazy"
                %td(class="ProductTable-td ProductTable-td-name")
                  %p(class="text text-s") #{item.product.name}
                %td(class="ProductTable-td ProductTable-td-price")
                  %p(class="text text-s") #{humanized_money_with_symbol item.unit_price_cents}
                  -# %p(class="text text-s text-secondary") #{humanized_money_with_symbol item.order_price_cents}
                %td(class="ProductTable-td ProductTable-td-order")
                  %p(class="text text-s") #{humanized_money_with_symbol item.order_price_cents}
                %td(class="ProductTable-td ProductTable-td-action")
                  = link_to "View", seller_product_path(item), class: "link"


      
  - else
    %div(class="page-block")
      %div(class="banner")
        %div(class="banner-container")
          %div(class="banner-icon")
            = icon "fas", "box-open"
          %div(class="banner-title")
            %h1(class="text text-l text-medium") Add Products
          %div(class="banner-message")
            %p(class="text text-m text-secondary") Increase your online presence. Add products you want to sell online, track sales, orders, and much more.
          %div(class="banner-actions")
            %div(class="banner-actions-item")
              = link_to new_product_barcode_path, class: "button button-big button-primary" do
                %span #{icon "far", "plus"}
                %span Add Product
          %div(class="banner-footer")
            %div(class="banner-footer-header")
              %p(class="text text-m text-medium") You'll need:
            %div(class="grid-1-3")
              %div(class="col")
                %div(class="banner-info")
                  %div(class="banner-info-icon")
                    = icon "fal", "barcode-read" 
                  %div(class="banner-info-title")
                    %p(class="text text-s text-medium") Barcode
                  %div(class="banner-info-info")
                    %p(class="text text-s text-secondary") You can find the barcode or GTIN on the packaging of your item.
              %div(class="col")
                %div(class="banner-info")
                  %div(class="banner-info-icon")
                    = icon "fal", "info-square"
                  %div(class="banner-info-title")
                    %p(class="text text-s text-medium") Product information
                  %div(class="banner-info-info")
                    %p(class="text text-s text-secondary") For example, product description, height and width, weight, etc.
              %div(class="col")
                %div(class="banner-info")
                  %div(class="banner-info-icon")
                    = icon "fal", "images"
                  %div(class="banner-info-title")
                    %p(class="text text-s text-medium") Photos
                  %div(class="banner-info-info")
                    %p(class="text text-s text-secondary") Good quality photo(s) will increase views and sales.