%section(class="section")
  %div(class="content-wide")
    %div(class="onboarding")
      %div(class="onboarding-body")
        -# Title side
        %div(class="onboarding-title")
          %div(class="onboarding-title-top")
            %p(class="text text-m text-secondary space-bot-m") Hi #{current_user.first_name}!
            %h3(class="text text-xxl")
              Welcome to Dagglo.
              %br
              Ready to sell your first product?
          %div(class="onboarding-title-bottom")
            %div(class="onboarding-progress")
              %div(class="onboarding-progress-title")
                %p(class="text text-xs text-secondary") Account Progress
                %p(class="text text-xl text-medium")
                  %span(class="text-success") #{@seller.onboarding_percent.round}%
              %div(class="onboarding-progress-bar-back")
                %div(class="onboarding-progress-bar-front js-progressBar" data-value="#{@seller.onboarding_percent.round}")
              - if @seller.onboarding_completed_at.present?
                %div(class="onboarding-progress-caption")
                  %p(class="text text-xs text-secondary") Completed at #{@seller.onboarding_completed_at.strftime("%I:%M %p, %d %B, %Y")}

        %div(class="onboarding-panel")

          %ul(class="onboarding-steps")
            %li(class="onboarding-step")
              = link_to seller_pricing_path, class: "onboarding-container" do
                %div(class="onboarding-icon") #{onboarding_step_icon @seller.has_plan?}
                %div(class="onboarding-main")
                  %p(class="text text-m") Choose Seller plan
                  %p(class="text text-m text-secondary") You will get first 4 months free if you subscribe before April 1st, 2020
            %li(class="onboarding-step")
              = link_to new_location_path, class: "onboarding-container" do
                %div(class="onboarding-icon") #{onboarding_step_icon @seller.has_location?}
                %div(class="onboarding-main")
                  %p(class="text text-m") Add business address
                  %p(class="text text-m text-secondary") It will help us to find you customers and simplify your business managment
            %li(class="onboarding-step")
              = link_to new_product_path, class: "onboarding-container" do
                %div(class="onboarding-icon") #{onboarding_step_icon @seller.has_product?}
                %div(class="onboarding-main")
                  %p(class="text text-m") Add new product
                  %p(class="text text-m text-secondary") Add products you want to sell online and start growing today
