-# = content_tag :li do
-#   = link_to 'English', locale: :en
-# - end unless current_page?(locale: :en)

-# = content_tag :li do
-#   = link_to 'Русский', locale: :ru
-# - end unless current_page?(locale: :ru)


.section
  .content
    %h1 #{t (:hello)}
    %p Timezone: #{Time.zone}

.section
  .content
    %h1 Sellers
    %ul
      - @sellers = Seller.all
      - @sellers.each do |s|
        %li #{link_to "#{s.name}", show_seller_path(s)}

.section
  .content
    %h1 Products
    %ul
      - @products = Product.all
      - @products.each do |p|
        %li #{link_to "#{p.name}", show_product_path(p)}







-# Google Content
-# margin-left: 150px;
-# margin-right: 150px;