= content_tag :li do
  = link_to 'English', locale: :en
- end unless current_page?(locale: :en)

= content_tag :li do
  = link_to 'Русский', locale: :ru
- end unless current_page?(locale: :ru)


%h1 #{t (:hello)}
- if user_signed_in?
  %p #{current_user.email}
  %p #{link_to t('buttons.user_destroy_session'), destroy_user_session_path, method: :delete}
- else
  %p #{link_to t('buttons.user_registration'), new_user_registration_path}