= content_for :title, "Privacy Policy"


- if @privacy.present?
  %section(class="section section-page")
    %div(class="content-tight")
      %div(class="section-header")
        %div(class="section-header-title")
          %h1(class="text text-xxl text-bold") #{@privacy.name}
        %div(class="section-header-caption")
          %p(class="text text-s text-secondary") Last update: #{@privacy.last_update}
      %div(class="section-body")
        = @privacy.content.html_safe


  -# .content-tight
  -#   %h1.space-bot-xxxl #{@privacy.name}
  -#   %p #{@privacy.content.html_safe}