%header.hero
    %div.hero-container
        %div.content-page
            %div.hero-header
                %div.hero-header-announcement
                    - if user_signed_in? && current_user.s_account
                        = link_to dashboard_seller_path, target: :_blank, class: "container" do
                            %span.label New
                            %span.message Early access for wholesalers
                            %span.arrow #{icon "far", "external-link"}
                    - else
                        = link_to new_seller_path, class: "container" do
                            %span.label New
                            %span.message Early access for wholesalers
                %div.hero-header-title
                    %h1.text.text-xxl.text-bold Making wholesale better, together
                %div.hero-header-caption
                    %p.text.text-l We are taking wholesale in a new direction. With advanced technology, transparency, and more opportunities, both buyers and sellers win.



%section.section.section-page
    %div.content-page
        %div.section-body
            %div.grid-1-3
                %div.col
                    %div.testimonial
                        %div.testimonial-container
                            %div.testimonial-icon
                                = icon "fal", "dollar-sign"
                            %div.testimonial-header
                                %p.text.text-m.text-bold 100% free for all type of retailers
                %div.col
                    %div.testimonial
                        %div.testimonial-container
                            %div.testimonial-icon
                                = icon "fal", "laptop-code"
                            %div.testimonial-header
                                %p.text.text-m.text-bold Developed for business with love
                %div.col
                    %div.testimonial
                        %div.testimonial-container
                            %div.testimonial-icon
                                = icon "fal", "circle-notch"
                            %div.testimonial-header
                                %p.text.text-m.text-bold Sales, analytics. shipping, made simple



%section.section.section-page
    %div.content-page
        %div.section-header.section-header-center
            %h1.text.text-xl.text-bold Amazing Opportunities for your business
        %div.section-body
            %div.grid-1-2
                %div.col
                    %div.account
                        %div.account-container
                            %div.account-icon
                                = icon "far", "boxes"
                            %div.account-name
                                %h1.text.text-l.text-medium Wholesallers
                            %div.account-caption
                                %p.text.text-s.text-secondary A business account platform for wholesale management, designed to save you time and money.
                            %div.account-actions
                                -# %div.account-actions-item
                                -#     = link_to "Get Early Access", new_seller_path, class: "button button-wide button-primary"
                                %div.account-actions-item
                                    = link_to "Learn more", sell_path, class: "link"
                %div.col
                    %div.account
                        %div.account-container
                            %div.account-icon
                                = icon "far", "shipping-fast"
                            %div.account-name
                                %h1.text.text-l.text-medium Carriers
                            %div.account-caption
                                %p.text.text-s.text-secondary With instant booking, free quick pay, facility ratings, and upfront, no-haggle pricing.
                            %div.account-actions
                                -# %div.account-actions-item
                                -#     = link_to "Sign Up Now", new_carrier_path, class: "button button-wide button-primary"
                                %div.account-actions-item
                                    = link_to "Learn more", new_carrier_path, class: "link"