= content_for :title, "Sell on Dagglo"
= content_for :navbar_class, "navbar-dark"

%div.page-container

    %header.hero
        %div.hero-background-simple
            = image_tag asset_path('hero/sell-hero.jpg'), loading: "lazy"
        %div.hero-container.hero-container-lg
            %div.content-page
                %div.hero-header.hero-header-simple
                    %div.hero-header-title
                        %h1.text.text-xxxl.text-medium.text-primary-light Start locally, scale globally
                    %div.hero-header-caption
                        %p.text.text-xl.text-primary-light Dagglo for Sellers is a business account platform for wholesale management, designed to save you time and money.
                    %div.hero-header-action
                        - if user_signed_in? && current_user.s_account.present?
                            = link_to "#{current_user.s_account.name}", dashboard_seller_path, class: "button button-light"
                        - else
                            = link_to "Get Early Access", new_seller_path, class: "button button-light"



    %section.section.section-page
        %div.content-page
            %div.section-header
                %h1.text.text-xxl.text-medium Sales. Analytics. Shipping. Made simple.
            %div.section-body
                %div.grid-1-3
                    %div.col
                        %div.testimonial
                            %div.testimonial-icon #{icon "far", "tasks"}
                            %div.testimonial-header
                                %h1.text.text-m.text-medium Order managment
                            %div.testimonial-body
                                %p.text.text-s.text-secondary A streamlined way to process orders.
                    
                    %div.col
                        %div.testimonial
                            %div.testimonial-icon #{icon "far", "chart-bar"}
                            %div.testimonial-header
                                %h1.text.text-m.text-medium Analytics
                            %div.testimonial-body
                                %p.text.text-s.text-secondary Real time data of your product sell- through.

                    %div.col
                        %div.testimonial
                            %div.testimonial-icon #{icon "far", "usd-circle"}
                            %div.testimonial-header
                                %h1.text.text-m.text-medium Net 60 (soon)
                            %div.testimonial-body
                                %p.text.text-s.text-secondary Increase sales by offering Net 60 to your leads and accounts.
                    
                    %div.col
                        %div.testimonial
                            %div.testimonial-icon #{icon "far", "globe-americas"}
                            %div.testimonial-header
                                %h1.text.text-m.text-medium Customers
                            %div.testimonial-body
                                %p.text.text-s.text-secondary Contact your future customers directly with built-in chat functionality.

                    %div.col
                        %div.testimonial
                            %div.testimonial-icon #{icon "far", "users"}
                            %div.testimonial-header
                                %h1.text.text-m.text-medium Collaborations & Locations
                            %div.testimonial-body
                                %p.text.text-s.text-secondary Manage your team and locations on one dashboard.
                    
                    %div.col
                        %div.testimonial
                            %div.testimonial-icon #{icon "far", "megaphone"}
                            %div.testimonial-header
                                %h1.text.text-m.text-medium Marketing
                            %div.testimonial-body
                                %p.text.text-s.text-secondary Increase your online presence and sell everywhere.


    - if @seller_plans.present?
        %section.section.section-page
            %div.content-page
                %div.section-header
                    %h1.text.text-xxl.text-medium No surprises, just fair and honest pricing
                %div.section-body
                    %div.grid-1-2
                        - @seller_plans.each do |plan|
                            %div.col
                                %div.pricing
                                    %div.pricing-title
                                        %h1.text.text-eyebrow #{plan.name}
                                    %div.pricing-price
                                        %div.pricing-price-currency USD
                                        %div.pricing-price-amount #{formatted_amount plan.amount}
                                        %div.pricing-price-interval / #{plan.interval}
                                    %div.pricing-desc
                                        %div.pricing-desc-item
                                            %div.pricing-desc-icon #{icon "far", "check"}
                                            %div.pricing-desc-body 
                                                %p.text.text-s #{plan.num_of_products} product showcases
                                        %div.pricing-desc-item
                                            %div.pricing-desc-icon #{icon "far", "check"}
                                            %div.pricing-desc-body 
                                                %p.text.text-s #{plan.num_of_locations} supported locations
                                        %div.pricing-desc-item
                                            %div.pricing-desc-icon #{icon "far", "check"}
                                            %div.pricing-desc-body 
                                                %p.text.text-s #{plan.num_of_locations} sub-accounts
                                        %div.pricing-desc-item
                                            %div.pricing-desc-icon #{icon "far", "check"}
                                            %div.pricing-desc-body 
                                                %p.text.text-s #{plan.analytics} analytics


