= content_for :title, "Sell on Dagglo"
= content_for :navbar_class, "navbar-absolute"

%header(id="promo#{Time.current.year}" class="hero")
  %div(class="hero-background")
    = image_tag asset_path('defaults/image.png'), loading: "lazy"
  %div(class="content")
    %div(class="hero-container")
      %div(class="hero-header")
        %div(class="hero-header-title")
          %h1(class="text text-xxxl text-medium hero-title") Start locally, scale globally.
        %div(class="hero-header-caption")
          %p(class="text text-xxl hero-caption") Dagglo for Sellers is a business account platform for wholesale management, designed to save you time and money.
        %div(class="hero-header-actions")
          %div(class="hero-header-actions-item")
            = link_to "Sign up to sell", new_seller_path, class: "button"
          %div(class="hero-header-actions-item")
            = link_to "Learn more about selling", "", class: "link"



%section(class="section section-page")
  %div(class="content")
    %div(class="header header-center")
      %h1(class="text text-xl text-medium") Sales. Analytics. Shipping. Made simple.

    %div(class="section-page-block")
      %div(class="grid-1-3")

        %div(class="col")
          %div(class="testimonial")
            %div(class="testimonial-container")
              %div(class="testimonial-icon")
                = icon "far", "tasks"
              %div(class="testimonial-header")
                %h1(class="text text-m text-medium") Order management
              %div(class="testimonial-body")
                %p(class="text text-s text-secondary") With clear, upfront pricing and unrivaled visibility, you always have the information needed to make the right business decisions.

        %div(class="col")
          %div(class="testimonial")
            %div(class="testimonial-container")
              %div(class="testimonial-icon")
                = icon "far", "chart-network"
              %div(class="testimonial-header")
                %h1(class="text text-m text-medium") Analytics
              %div(class="testimonial-body")
                %p(class="text text-s text-secondary") With clear, upfront pricing and unrivaled visibility, you always have the information needed to make the right business decisions.

        %div(class="col")
          %div(class="testimonial")
            %div(class="testimonial-container")
              %div(class="testimonial-icon")
                = icon "far", "shipping-fast"
              %div(class="testimonial-header")
                %h1(class="text text-m text-medium") Shipping
              %div(class="testimonial-body")
                %p(class="text text-s text-secondary") With clear, upfront pricing and unrivaled visibility, you always have the information needed to make the right business decisions.

        %div(class="col")
          %div(class="testimonial")
            %div(class="testimonial-container")
              %div(class="testimonial-icon")
                = icon "far", "file-invoice-dollar"
              %div(class="testimonial-header")
                %h1(class="text text-m text-medium") Customers
              %div(class="testimonial-body")
                %p(class="text text-s text-secondary") With clear, upfront pricing and unrivaled visibility, you always have the information needed to make the right business decisions.

        %div(class="col")
          %div(class="testimonial")
            %div(class="testimonial-container")
              %div(class="testimonial-icon")
                = icon "far", "users"
              %div(class="testimonial-header")
                %h1(class="text text-m text-medium") Collaborations
              %div(class="testimonial-body")
                %p(class="text text-s text-secondary") With clear, upfront pricing and unrivaled visibility, you always have the information needed to make the right business decisions.

        %div(class="col")
          %div(class="testimonial")
            %div(class="testimonial-container")
              %div(class="testimonial-icon")
                = icon "far", "globe"
              %div(class="testimonial-header")
                %h1(class="text text-m text-medium") Localization
              %div(class="testimonial-body")
                %p(class="text text-s text-secondary") With clear, upfront pricing and unrivaled visibility, you always have the information needed to make the right business decisions.



%section(class="secton section-gray section-page")
  %div(class="content")
    %div(class="header header-center")
      %h1(class="text text-xl text-medium") No surprises, just fair and honest pricing
