= content_for :title, "New Location"

%div(class="page")

	%div(class="page-top")
		%div(class="content-tight")
			%div(class="page-top-container")
				%div(class="page-top-icon")
					= icon "far", "map-marker-plus"
				%div(class="page-top-main")
					%div(class="page-top-main-title")
						%h1(class="text text-xl text-medium") #{yield(:title)}


	%div(class="page-block")
		= form_for @seller_location, html: {class: "form", multipart: true} do |f|
			%div(class="content-tight")
				= render "sellers/shared/errors", target: @seller_location
				%div(class="form-container")
					%div(class="form-header")
						%div(class="form-header-title")
							%p(class="text text-m text-medium") Location:
						%div(class="form-header-caption")
							%p(class="text text-s text-secondary") Give this location a short name to make it easy to identify. This information will be visible for you and your team only.
					%div(class="form-row")
						%div(class="form-row-label")
							= f.label :name, "Location name"
						%div(class="form-row-input")
							= f.text_field :name, class: "form-control", required: false, autocomplete: "off", placeholder: "#{@seller.name} HQ"
				
				%div(class="form-container")
					%div(class="form-header")
						%div(class="form-header-title")
							%p(class="text text-m text-medium") Address:
					%div(class="form-row")
						%div(class="form-row-label")
							= f.label :address_1, "Address 1"
						%div(class="form-row-input")
							= f.text_field :address_1, required: false, autocomplete: "off", class: "form-control"
					%div(class="form-row")
						%div(class="form-row-label")
							= f.label :address_2, "Address 2 (Optional)"
						%div(class="form-row-input")
							= f.text_field :address_2, required: false, autocomplete: "off", class: "form-control"
					%div(class="form-row")
						%div(class="form-grid")
							%div(class="form-col")
								%div(class="form-row-label")
									= f.label :city, "City"
								%div(class="form-row-input")
									= f.text_field :city, required: false, autocomplete: "off", class: "form-control"
							%div(class="form-col")
								%div(class="form-row")
									%div(class="form-row-label")
										= f.label :zip, "ZIP / Postal code"
									%div(class="form-row-input")
										= f.text_field :zip, required: false, autocomplete: "off", class: "form-control"
					%div(class="form-row")
						%div(class="form-grid")
							%div(class="form-col")
								%div(class="form-row-label")
									= f.label :state, "State"
								%div(class="form-row-input")
									= f.text_field :state, required: false, autocomplete: "off", class: "form-control"
							%div(class="form-col")
								%div(class="form-row")
									%div(class="form-row-label")
										= f.label :country, "Country"
									%div(class="form-row-input")
										= f.country_select("country", {:include_blank => "Choose country"}, {class: "js-states form-control", id: "selectCountry"}, required: false, autofocus: false)

				-# %div(class="form-container")
				-# 	%div(class="form-header")
				-# 		%div(class="form-header-title")
				-# 			%p(class="text text-m text-medium") Contact information:
				-# 		%div(class="form-header-caption") 
				-# 			%p(class="text text-s text-secondary") This information optional. It will be visible for your team and logistic companies.
				-# 	%div(class="form-row")
				-# 		%div(class="form-row-label")
				-# 			= f.label :phone, "Phone number"
				-# 		%div(class="form-row-input")
				-# 			= f.text_field :phone, required: false, autocomplete: "off", class: "form-control"

				%div(class="form-submit")
					= button_tag "Save location", class: "button button-primary button-action button-responsive", data: {disable_with: "<i class='far fa-spinner fa-spin'></i>"}