= content_for :title, "#{@seller_location.name}"


%div(class="page")
  
  %div(class="page-top page-top-separator")
    %div(class="content")
      %div(class="page-top-container")
        %div(class="page-top-product")
          = image_tag static_map(@seller_location, 120, 120, 13), 'data-src': static_map(@seller_location, 120, 120, 13), loading: "lazy", class: "lazy"
        %div(class="page-top-main")
          %div(class="page-top-main-title")
            %h1(class="text text-xl text-medium") #{@seller_location.name}
        %div(class="page-top-actions")
          %div(class="page-profile-actions-item") 
            = link_to edit_seller_location_path(@seller_location), class: "button-circle button-circle-action" do
              %span(class="button-circle-icon") #{icon "fal", "cog"}
              %span(class="button-circle-name") Edit


  - if @members.present?
    %div(class="page-block")
      %div(class="content")
        %div(class="page-header")
          %div(class="page-header-title")
            %p(class="text text-s text-secondary") Team
          %div(class="page-header-actions")
            %div(class="page-header-actions-item")
              = link_to new_account_path, class: "link" do
                %span #{icon "far", "plus"}
                %span Add new
        %div(class="page-body")
          %ul(class="list")
            - @members.each do |member|
              %li
                = link_to seller_account_path(member), class: "list-container" do
                  %div(class="list-picture")
                    = image_tag member.user.avatar(200, 200), 'data-src': member.user.avatar(200, 200), loading: "lazy", class: "lazy"
                  %div(class="list-main")
                    %p(class="text text-m text-medium") #{member.user.full_name}
                    %p(class="text text-s text-secondary") #{member.role.capitalize}


  -# - if @activities.present?
  -#   %div(class="page-block")
  -#     %div(class="content-tight")
  -#       %div(class="page-header")
  -#         %div(class="page-header-title")
  -#           %p(class="text text-s text-secondary") Activity
  -#         %div(class="page-header-actions")
  -#           %div(class="page-header-actions-item")
  -#             = link_to activities_seller_path, class: "link" do
  -#               %span #{icon "far", "list"}
  -#               %span View all
  -#       %div(class="page-body")
  -#         %ul(class="activity-list")
  -#           = render_activities(@activities)