= content_for :title, "Forgot Password?"

%section(class="auth")
  %div(class="content")
    %div(class="auth-content")
      %div(class="auth-header")
        %h1(class="text text-xxl text-bold") Forgot Password?
        %p(class="text text-s space-top-xs") Enter the email address you used when you joined and we’ll send you instructions to reset your password.
        %p(class="text text-s space-top-xs") For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.
      %div(class="auth-body")
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form" }) do |f|
          = render "devise/shared/error_messages", resource: resource
          %div(class="form-row")
            %div(class="form-label")
              = f.label :email, "Email"
            %div(class="form-form")
              = f.email_field :email, class: "form-control", autocomplete: "email"
          %div(class="form-submit form-submit-center")
            = button_tag "Continue", class: "button button-action button-primary button-responsive", data: {disable_with: "<i class='far fa-spinner fa-spin' style='margin-right: 6px;'></i> Sending email.."}
          %div(class="form-actions")
            %ul(class="auth-list")
              = render partial: "users/shared/links"
