= content_for :title, "New product"


%div(class="container")

  = form_for @product, :html => {class: "form"} do |f|

    %div(class="header")
      %div(class="content")
        %div(class="header-container")
          %div(class="header-title")
            %h1(class="text text-xxl text-medium") New product


    %section(class="section")
      %div(class="content")
        %div(class="section-annotated")
          %div(class="section-annotated-annotation")
            %p(class="text text-m text-medium space-bot-xs") Barcode:
            %p(class="text text-s text-secondary space-bot-xs") Enter product barcode.
          %div(class="section-annotated-content")
            %div(class="form-row")
              %div(class="form-label")
                = f.label :barcode, "Product barcode"
              %div(class="form-input")
                = f.text_field :barcode, class: "form-control", required: true, autocomplete: "off"

    %section(class="section")
      %div(class="content")
        %div(class="section-annotated")
          %div(class="section-annotated-annotation")
            %p(class="text text-m text-medium space-bot-xs") Product information:
            %p(class="text text-s text-secondary")
              Product name example:
              %span(class="text-bold") Coffee beans Lavazza Qualita Oro
          %div(class="section-annotated-content")
            %div(class="form-row")
              %div(class="form-label")
                = f.label :name, "Product name"
              %div(class="form-input")
                = f.text_field :name, class: "form-control", required: true, autocomplete: "off"
            %div(class="form-row")
              %div(class="form-label")
                = f.label :country, "Country of origin"
              %div(class="form-input")
                = f.country_select("country", {:include_blank => "Choose country"}, {class: "js-states form-control", id: "selectCountry"}, required: true, autofocus: false)
            %div(class="form-row")
              %div(class="form-label")
                = f.label :about, "Description"
              %div(class="form-input")
                = f.text_area :about, class: "form-control form-control-textarea", required: false


    %section(class="section")
      %div(class="content")
        %div(class="section-annotated")
          %div(class="section-annotated-annotation")
            %p(class="text text-m text-medium") Category:
          %div(class="section-annotated-content")
            %div(class="form-row")
              %div(class="form-label")
                = f.label :category_id, "Product category"
              %div(class="form-input")
                = f.select :category_id, Category.all.pluck(:name, :id), {:include_blank => "Choose category"}, {class: "js-categories form-control", id: "selectCategory"}

    %section(class="section")
      %div(class="content")
        %div(class="section-annotated")
          %div(class="section-annotated-annotation")
            %p(class="text text-m text-medium space-bot-xs") Product photo:
            %p(class="text text-s text-secondary") Upload one good quality picture of the product
          %div(class="section-annotated-content")
            %div(class="form-row")
              = f.label :product_photos, "Select photos"
              = f.file_field :product_photos, multiple: true, accept: ImageUploader::ALLOWED_TYPES.join(","), data: { upload_server: upload_server }


              -# %div(class="form-file")
              -#   %div(class="form-file-control")
              -#     %span(class="form-file-icon") #{icon("fal","image")}
              -#     %span(class="form-file-link") Drag and drop or
              -#     %span(class="form-file-msg js-set-number") upload from files
              -#     = f.file_field :image_data, multiple: false, class: "form-droparea", autocomplete: "off"

    %div(class="actions")
      %div(class="content")
        %div(class="actions-container")
          %div(class="actions-item")
            = button_tag "Continue", class: "button button-action button-responsive", data: {disable_with: "<i class='far fa-spinner fa-spin'></i> Checking..."}
