= content_for :title, "New product"

%div(class="page")

    %div(class="page-top")
        %div(class="content-tight")
            %div(class="page-top-container")
                %div(class="page-top-icon")
                    = icon "fal", "box-open"
                %div(class="page-top-main")
                    %div(class="page-top-main-title")
                        %h1(class="text text-xl text-medium") New product


    = form_for @product, html: {class: "form"} do |f|
        = f.hidden_field :category_id
        %div(class="page-body")
            %div(class="content-tight")
                = render "sellers/shared/errors", target: @product
                %div(class="form-container")
                    %div(class="form-header")
                        %div(class="form-header-title")
                            %p(class="text text-s text-medium") Valid UPC, EAN, GTIN or ISBN:
                        %div(class="form-header-caption")
                            %p(class="text text-s text-secondary") You can find the barcode or GTIN (UPC/EAN/JAN/ISBN) on the packaging of your item.
                    %div(class="form-row")
                        %div(class="form-row-label")
                            = f.label :barcode, "GTIN"
                        %div(class="form-row-input")
                            - if request.params[:barcode].present?
                                %p(class="text text-s text-bold") #{request.params[:barcode]}
                                = f.hidden_field :barcode, value: "#{request.params[:barcode]}"
                            - else
                                = f.text_field :barcode, class: "form-control", required: true, autocomplete: "off", placeholder: "UPC, EAN, GTIN or ISBN", id: "noSpacesField"
                            

                %div(class="form-container")
                    %div(class="form-header")
                        %div(class="form-header-title")
                            %p(class="text text-s text-medium") Product information:
                        %div(class="form-header-caption")
                            %p(class="text text-s text-secondary") Product name must not include promotions. 
                            %p(class="text text-s text-secondary") 
                                Coffee product example:
                                %span(class="text-medium") Lavazza Qualita Oro
                            %p(class="text text-s text-secondary") 
                                Sode product example:
                                %span(class="text-medium") Coca Cola 2L
                    %div(class="form-row")
                        %div(class="form-row-label")
                            = f.label :name, "Product name"
                        %div(class="form-row-input")
                            = f.text_field :name, class: "form-control", required: true, autocomplete: "off"
                    -# %div(class="form-row")
                    -#     %div(class="form-row-label")
                    -#         = f.label :country, "Country of origin"
                    -#     %div(class="form-row-input")
                    -#         = f.country_select("country", {:include_blank => "Choose country"}, {class: "js-states form-control", id: "selectCountry"}, required: true, autofocus: false)
                    %div(class="form-row")
                        %div(class="form-row-label")
                            = f.label :description, "Description"
                        %div(class="form-row-input")
                            = f.text_area :description, class: "form-control form-control-textarea", required: false

                
                - if @product.category.fields.present?
                    %div(class="form-container")
                        %div(class="form-header")
                            %div(class="form-header-title")
                                %p(class="text text-s text-medium") List all your variation terms for the themes below:
                            %div(class="form-header-caption")
                                %p(class="text text-s text-secondary") For the fields below, list the variations that exist for your products. For example, if you're selling Pirate Shirts in the sizes Small, Medium, and Large, and in the colors White and Black, list all those terms. This is necessary even if you don't carry every combination, or are temporarily out of stock on some.
                        = f.fields_for :variations, OpenStruct.new(@product.variations) do |builder|
                            - @product.category.fields.each do |field|
                                = render "products/fields/#{field.field_type}", field: field, f: builder
                

                %div(class="form-container")
                    %div(class="form-header")
                        %div(class="form-header-title")
                            %p(class="text text-s text-medium") Product photo:
                    %div(class="form-row")
                        %div(class="form-row-input")
                            = f.label :product_photos, "Select photos"
                            = f.file_field :product_photos, multiple: true, accept: ImageUploader::ALLOWED_TYPES.join(","), data: { upload_server: upload_server }
                        
                    
                %div(class="form-submit")
                    = button_tag "Continue", class: "button button-action button-primary button-responsive", data: {disable_with: "<i class='far fa-spinner fa-spin'></i>"}