%div(class="page-block")
    %div(class="onboarding")
        %div(class="onboarding_container")
            %div(class="onboarding_header")
                %div(class="onboarding_header_greeting")
                    %p(class="text text-m text-secondary-light") Hi #{current_user.first_name}!
                    %p(class="text-hidden") #{@seller.onboarding_percent.round}
                %div(class="onboarding_header_title")
                    %h1(class="text text-xl text-primary-light text-bold") Welcome to Dagglo Seller Dashboard.
                %div(class="onboarding_header_caption")
                    %p(class="text text-l text-secondary-light") You'll soon be receiving orders via Dagglo. Here are some things you can do to get started.
            %div(class="onboarding_steps")
                %div(class="col")
                    = link_to seller_pricing_path, class: "onboarding_step" do
                        %div(class="onboarding_step_icon")
                            = onboarding_step_icon @seller.has_subscription?
                        %div(class="onboarding_step_title")
                            %p(class="text text-l text-primary-light text-medium") Subscribe
                        %div(class="onboarding_step_caption")
                            %p(class="text text-s text-primary-light") Activate partnership and start accepting orders
                %div(class="col")
                    = link_to new_seller_location_path, class: "onboarding_step" do
                        %div(class="onboarding_step_icon")
                            = onboarding_step_icon @seller.has_location?
                        %div(class="onboarding_step_title")
                            %p(class="text text-l text-primary-light text-medium") Add Location
                        %div(class="onboarding_step_caption")
                            %p(class="text text-s text-primary-light") Confirm your location information is correct
                %div(class="col")
                    = link_to new_product_barcode_path, class: "onboarding_step" do
                        %div(class="onboarding_step_icon")
                            = onboarding_step_icon @seller.has_product?
                        %div(class="onboarding_step_title")
                            %p(class="text text-l text-primary-light text-medium") Add Product
                        %div(class="onboarding_step_caption")
                            %p(class="text text-s text-primary-light") Add products you want to sell online
            - if @seller.onboarding_completed_at.present?
                %div(class="onboarding_footer")
                    %p(class="text text-s text-secondary-light") Completed at: #{@seller.onboarding_completed_at.strftime("%I:%M %p, %d %B, %Y")}