= render partial: "users/registrations/elements/links"

%section(class="section section-page")
    %div(class="content-tight")
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form", method: :put }) do |f|
            -# Profile picture
            %div(class="section-block")
                %div(class="account-photo")
                    %div(class="account-photo-preview")
                        %div(class="account-photo-image")
                            = image_tag current_user.avatar(100, 100), class: "img-thumbnail file-upload-preview", id: "user-image", loading: "lazy"
                        %div(class="account-photo-desc")
                            %p(class="text text-s text-bold") Change Picture
                            %p(class="text text-s") Max file size is 10Mb
                    %div(class="account-photo-action")
                        = f.file_field :image, accept: ImageUploader::ALLOWED_TYPES.join(","), data: {upload_server: upload_server, preview_element: "user-image", upload_result_element: "user-image-upload-result"}
                        = f.hidden_field :image, value: current_user.cached_image_data, id: "user-image-upload-result"

            %div(class="section-block")
                %div(class="section-top")
                    %div(class="section-top-title")
                        %h1(class="text text-l text-medium") My Profile
                %div(class="section-body")
                    %div(class="form-row")
                        %div(class="form-grid")
                            %div(class="form-col")
                                %div(class="form-label")
                                    = f.label :first_name, "First name"
                                %div(class="form-input")
                                    = f.text_field :first_name, placeholder: nil, class: "form-control", autocomplete: "first name"
                            %div(class="form-col")
                                %div(class="form-label")
                                    = f.label :last_name, "Last name"
                                %div(class="form-input")
                                    = f.text_field :last_name, placeholder: nil, class: "form-control", autocomplete: "last name"
                    %div(class="form-row")
                        %div(class="form-label")
                            = f.label :email, "Email"
                        %div(class="form-input")
                            = f.email_field :email, placeholder: nil, class: "form-control", autocomplete: "email"
                        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                            %div(class="form-caption")
                                %p(class="text text-s") Currently waiting confirmation for: #{resource.unconfirmed_email}
                    %div(class="form-submit")
                        = button_tag "Save", class: "button button-go", data: {disable_with: "<i class='far fa-spinner fa-spin'></i>"}
